table{
    border: 1px solid black;
    background-color: bisque;
    width: 340px;
    height: 220px;
    margin-left: auto;
    margin-right:auto;
    font-size: 20px;
}

body{
    background-color: coral;
}